<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="DBCONNECTION" value="Data Source=CWS-1431\SQlEXPRESS;Initial Catalog=AdventureWorks;User Id=sa;Password=Welcome123; Pooling=False;MultipleActiveResultSets=True;"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="DataServiceAspNetAjaxBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
        <services>
            <service behaviorConfiguration="ServiceBehavior" name="DataService">
                <endpoint address="" behaviorConfiguration="DataServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="DataService"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>